## Reading the Transkribus data for 1 year

In [1]:
#import the necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Give the entire dataframe of collections and the year as input
def read_data(df, year):
    df.rename(columns={'Unnamed: 1':'Day'},inplace=True)
    df = df[df.Day.notna()]
    dd = dict(tuple(df.groupby('p001.jpg')))
    n =  np.array(list(dd.keys()))
    dd1 = {}
    temp = pd.DataFrame()
    data = pd.DataFrame()
    i=0
    Year = "1949"
    Month = ["01", "02","03","04","05","06","07","08","09","10","11","12"]
    for i in range(len(n)):
        data = pd.DataFrame()
        temp = pd.DataFrame()
        m=0
        Day = dd[n[i]].Day
        b = pd.DataFrame(dd[n[i]])
        #print(b)
        #print(Day)
        for j in range(0,24,2):
            temp["Day"] = b.Day
            temp["Month"] = Month[m]
            temp["Year"] = Year
            temp["G+S"] = b[b.columns[j+2:j+3]]
            temp["k"] = b[b.columns[j+3:j+4]]
            m= m+1
            data = data.append(temp)
            
        dd1[n[i]] = data
        
        
        
    return dd1

In [3]:
#Read the table for one year
df = pd.read_csv(r'C:\Users\ShreyaB\Documents\Mitteilungen\\data\Transkribus\Tables1949_pdf_tables.csv')

In [4]:
df.head(5) #p001 stands for page 1, there are 55 pages in this year:1949

,p001.jpg,Unnamed: 1,g.f,k,g.f.1,k.1,g.f.2,k.2,g.f.3,k.3,...,g.f.10,k.10,g.f.11,k.11,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,p001.jpg,1,NaN,NaN,NaN,NaN,11.153,NaN,15.113,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,p001.jpg,2,NaN,NaN,9.163,NaN,13.168,NaN,15.134,0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,p001.jpg,3,9.49,NaN,11.202,0.57,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,p001.jpg,4,10.49,0.59,11.233,NaN,13.168,NaN,15.126,0.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,p001.jpg,5,NaN,NaN,12.260,0.54,15.164,0.54,NaN,NaN,...,9.165,NaN,11.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#call the function
dd1 = read_data(df, 1949)

It returns a dictionary with each dataframe in the dictionary corresponding to one page in the collection. Each dataframe has data from January to December

In [6]:
dd1

{'p001.jpg':    Day Month  Year    G+S     k
 0    1    01  1949    NaN   NaN
 1    2    01  1949    NaN   NaN
 2    3    01  1949   9.49   NaN
 3    4    01  1949  10.49  0.59
 4    5    01  1949    NaN   NaN
 ..  ..   ...   ...    ...   ...
 26  27    12  1949  8.101  0.59
 27  28    12  1949    NaN   NaN
 28  29    12  1949   9.97  0.54
 29  30    12  1949    NaN   NaN
 30  31    12  1949    NaN   NaN

 [372 rows x 5 columns],
 'p002.jpg':    Day Month  Year    G+S     k
 32   1    01  1949  10.85   NaN
 33   2    01  1949    NaN   NaN
 34   3    01  1949   9.53   NaN
 35   4    01  1949  10.41  0.62
 36   5    01  1949    NaN   NaN
 ..  ..   ...   ...    ...   ...
 58  27    12  1949    NaN   NaN
 59  28    12  1949    NaN   NaN
 60  29    12  1949    NaN   NaN
 61  30    12  1949    NaN   NaN
 62  31    12  1949    NaN   NaN

 [372 rows x 5 columns],
 'p003.jpg':    Day Month  Year    G+S     k
 64   1    01  1949    NaN   NaN
 65   2    01  1949    NaN   NaN
 66   3    01  1949    NaN   NaN
 67   4    01  1949    NaN   NaN
 68   5    01  1949    NaN   NaN
 ..  ..   ...   ...    ...   ...
 90  27    12  1949    NaN   NaN
 91  28    12  1949    NaN   NaN
 92  29    12  1949  9.114  0.50
 93  30    12  1949    NaN   NaN
 94  31    12  1949    NaN   NaN

 [360 rows x 5 columns],
 'p004.jpg':     Day Month  Year   G+S     k
 96    1    01  1949   NaN   NaN
 97    2    01  1949   NaN   NaN
 98    3    01  1949  5.37  0.95
 99    4    01  1949  8.56  0.65
 100   5    01  1949   NaN   NaN
 ..   ..   ...   ...   ...   ...
 122  27    12  1949  9.80  0.63
 123  28    12  1949  9.84  0.66
 124  29    12  1949  9.74  0.62
 125  30    12  1949  8.65  0.62
 126  31    12  1949  7.63  0.83

 [372 rows x 5 columns],
 'p005.jpg':     Day Month  Year  G+S     k
 128   1    01  1949  139  0.78
 129   2    01  1949  145   NaN
 130   3    01  1949  134  0.61
 131   4    01  1949  109  0.81
 132   5    01  1949  NaN   NaN
 ..   ..   ...   ...  ...   ...
 154  27    12  1949  NaN   NaN
 155  28    12  1949  NaN   NaN
 156  29    12  1949  128  0.79
 157  30    12  1949  115  0.78
 158  31    12  1949  NaN   NaN

 [372 rows x 5 columns],
 'p006.jpg':     Day Month  Year    G+S     k
 160   1    01  1949   9.34  0.90
 161   2    01  1949   8.46  0.75
 162   3    01  1949   8.33  0.73
 163   4    01  1949    NaN   NaN
 164   5    01  1949    NaN   NaN
 ..   ..   ...   ...    ...   ...
 186  27    12  1949    NaN   NaN
 187  28    12  1949    NaN   NaN
 188  29    12  1949  11.54  0.62
 189  30    12  1949  10.59  0.57
 190  31    12  1949   9.41  0.84

 [372 rows x 5 columns],
 'p007.jpg':     Day Month  Year   G+S     k
 192   1    01  1949  9.52  0.76
 193   2    01  1949   NaN  0.77
 194   3    01  1949  7.34  0.78
 195   4    01  1949   NaN  0.81
 196   5    01  1949  6.24  0.84
 ..   ..   ...   ...   ...   ...
 218  27    12  1949   NaN  0.79
 219  28    12  1949  8.64  0.79
 220  29    12  1949  8.58  0.73
 221  30    12  1949  6.49  0.83
 222  31    12  1949   NaN  0.77

 [372 rows x 5 columns],
 'p008.jpg':     Day Month  Year    G+S     k
 224   1    01  1949  10.27  0.85
 225   2    01  1949    NaN   NaN
 226   3    01  1949    NaN   NaN
 227   4    01  1949    NaN   NaN
 228   5    01  1949   7.20  0.78
 ..   ..   ...   ...    ...   ...
 250  27    12  1949   9.57  0.73
 251  28    12  1949   9.65  0.74
 252  29    12  1949   7.52  0.83
 253  30    12  1949    NaN   NaN
 254  31    12  1949    NaN   NaN

 [372 rows x 5 columns],
 'p009.jpg':     Day Month  Year   G+S     k
 256   1    01  1949   NaN   NaN
 257   2    01  1949   NaN   NaN
 258   3    01  1949   NaN   NaN
 259   4    01  1949   NaN   NaN
 260   5    01  1949   NaN   NaN
 ..   ..   ...   ...   ...   ...
 282  27    12  1949  8.33  0.95
 283  28    12  1949  8.39  0.96
 284  29    12  1949  9.39  0.78
 285  30    12  1949   NaN   NaN
 286  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p010.jpg':     Day Month  Year   G+S     k
 288   1    01  1949   NaN   NaN
 289   2    01  1949  6.50   NaN
 290   3    01  1949  8.59  0.59
 291   4    01  1949   NaN   NaN
 292   5    01  1949   NaN   NaN
 ..   ..   ...   ...   ...   ...
 314  27    12  1949   NaN   NaN
 315  28    12  1949   NaN   NaN
 316  29    12  1949   NaN   NaN
 317  30    12  1949   NaN   NaN
 318  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p011.jpg':     Day Month  Year  G+S     k
 320   1    01  1949  114  0.95
 321   2    01  1949   93   NaN
 322   3    01  1949  101  0.81
 323   4    01  1949   98  0.90
 324   5    01  1949   89  0.79
 ..   ..   ...   ...  ...   ...
 346  27    12  1949  113  0.95
 347  28    12  1949  120  0.95
 348  29    12  1949  NaN   NaN
 349  30    12  1949  NaN   NaN
 350  31    12  1949  NaN   NaN

 [372 rows x 5 columns],
 'p012.jpg':     Day Month  Year  G+S     k
 352   1    01  1949  NaN   NaN
 353   2    01  1949  139   NaN
 354   3    01  1949  119  0.69
 355   4    01  1949  129  0.68
 356   5    01  1949  NaN   NaN
 ..   ..   ...   ...  ...   ...
 378  27    12  1949  131  0.82
 379  28    12  1949  157  0.73
 380  29    12  1949  NaN   NaN
 381  30    12  1949  NaN   NaN
 382  31    12  1949  153  0.72

 [372 rows x 5 columns],
 'p013.jpg':     Day Month  Year  G+S     k
 384   1    01  1949  NaN   NaN
 385   2    01  1949  NaN   NaN
 386   3    01  1949  135  0.61
 387   4    01  1949  NaN   NaN
 388   5    01  1949   89  0.79
 ..   ..   ...   ...  ...   ...
 410  27    12  1949  145  0.74
 411  28    12  1949  214  0.53
 412  29    12  1949  NaN   NaN
 413  30    12  1949   86  1.05
 414  31    12  1949  141  0.78

 [372 rows x 5 columns],
 'p014.jpg':     Day Month  Year  G+S     k
 416   1    01  1949  NaN   NaN
 417   2    01  1949  NaN   NaN
 418   3    01  1949  NaN   NaN
 419   4    01  1949  128  0.69
 420   5    01  1949  117  0.60
 ..   ..   ...   ...  ...   ...
 442  27    12  1949  NaN   NaN
 443  28    12  1949  NaN   NaN
 444  29    12  1949  NaN   NaN
 445  30    12  1949  135  0.67
 446  31    12  1949  NaN   NaN

 [372 rows x 5 columns],
 'p015.jpg':     Day Month  Year   G+S     k
 448   1    01  1949   NaN   NaN
 449   2    01  1949   NaN   NaN
 450   3    01  1949   NaN   NaN
 451   4    01  1949   NaN   NaN
 452   5    01  1949   NaN   NaN
 ..   ..   ...   ...   ...   ...
 474  27    12  1949  9.72  0.66
 475  28    12  1949  9.79  0.67
 476  29    12  1949  9.72  0.62
 477  30    12  1949   NaN   NaN
 478  31    12  1949  7.88  0.66

 [372 rows x 5 columns],
 'p016.jpg':     Day Month  Year   G+S     k
 480   1    01  1949  8.48  0.84
 481   2    01  1949   NaN   NaN
 482   3    01  1949  8.37  0.70
 483   4    01  1949  8.19  0.89
 484   5    01  1949  8.20  0.70
 ..   ..   ...   ...   ...   ...
 506  27    12  1949   NaN   NaN
 507  28    12  1949   NaN   NaN
 508  29    12  1949   NaN   NaN
 509  30    12  1949   NaN   NaN
 510  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p017.jpg':     Day Month  Year    G+S     k
 512   1    01  1949   7.74  0.75
 513   2    01  1949   7.82   NaN
 514   3    01  1949   6.78   .60
 515   4    01  1949   7.80   .59
 516   5    01  1949    NaN   NaN
 ..   ..   ...   ...    ...   ...
 538  27    12  1949    NaN   NaN
 539  28    12  1949  8.127  0.55
 540  29    12  1949   9.88  0.57
 541  30    12  1949   8.74  0.58
 542  31    12  1949   7.76  0.75

 [372 rows x 5 columns],
 'p018.jpg':     Day Month  Year   G+S     k
 544   1    01  1949   NaN   NaN
 545   2    01  1949   NaN   NaN
 546   3    01  1949  8.55  0.60
 547   4    01  1949  8.26  0.83
 548   5    01  1949   NaN   NaN
 ..   ..   ...   ...   ...   ...
 570  27    12  1949   NaN   NaN
 571  28    12  1949   NaN   NaN
 572  29    12  1949   NaN   NaN
 573  30    12  1949   NaN   NaN
 574  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p019.jpg':     Day Month  Year  G+S    k
 576   1    01  1949  NaN  NaN
 577   2    01  1949  NaN  NaN
 578   3    01  1949  NaN  NaN
 579   4    01  1949  NaN  NaN
 580   5    01  1949  NaN  NaN
 ..   ..   ...   ...  ...  ...
 602  27    12  1949  NaN  NaN
 603  28    12  1949  NaN  NaN
 604  29    12  1949  NaN  NaN
 605  30    12  1949  NaN  NaN
 606  31    12  1949  NaN  NaN

 [372 rows x 5 columns],
 'p020.jpg':     Day Month  Year  G+S     k
 608   1    01  1949  147  0.73
 609   2    01  1949  120   NaN
 610   3    01  1949   88  0.93
 611   4    01  1949  132  0.67
 612   5    01  1949  165  0.42
 ..   ..   ...   ...  ...   ...
 634  27    12  1949  211  0.51
 635  28    12  1949  201  0.57
 636  29    12  1949  189  0.53
 637  30    12  1949  181  0.50
 638  31    12  1949  172  0.61

 [372 rows x 5 columns],
 'p021.jpg':     Day Month  Year   G+S     k
 640   1    01  1949   NaN   NaN
 641   2    01  1949   NaN   NaN
 642   3    01  1949  8.30  0.75
 643   4    01  1949  8.17  0.91
 644   5    01  1949   NaN   NaN
 ..   ..   ...   ...   ...   ...
 666  27    12  1949   NaN   NaN
 667  28    12  1949  8.27  1.07
 668  29    12  1949  8.31  0.91
 669  30    12  1949  6.23  1.08
 670  31    12  1949  5.25  1.47

 [372 rows x 5 columns],
 'p022.jpg':     Day Month  Year   G+S     k
 672   1    01  1949  7.27  1.40
 673   2    01  1949   NaN   NaN
 674   3    01  1949  7.14  0.98
 675   4    01  1949  8.16  0.92
 676   5    01  1949  8.22  0.69
 ..   ..   ...   ...   ...   ...
 698  27    12  1949  7.26  1.11
 699  28    12  1949  8.44  0.92
 700  29    12  1949  9.74  0.62
 701  30    12  1949   NaN   NaN
 702  31    12  1949  6.45  1.00

 [372 rows x 5 columns],
 'p023.jpg':     Day Month  Year    G+S     k
 704   1    01  1949    NaN   NaN
 705   2    01  1949   8.16   NaN
 706   3    01  1949    NaN   NaN
 707   4    01  1949  10.52  0.58
 708   5    01  1949   9.54  0.49
 ..   ..   ...   ...    ...   ...
 730  27    12  1949    NaN   NaN
 731  28    12  1949   8.67  0.78
 732  29    12  1949   8.46  0.80
 733  30    12  1949  8.103  0.49
 734  31    12  1949    NaN   NaN

 [372 rows x 5 columns],
 'p024.jpg':     Day Month  Year     G+S     k
 736   1    01  1949     NaN   NaN
 737   2    01  1949    9.70   NaN
 738   3    01  1949     NaN   NaN
 739   4    01  1949     NaN   NaN
 740   5    01  1949    8.38  0.59
 ..   ..   ...   ...     ...   ...
 762  27    12  1949     NaN   NaN
 763  28    12  1949    8.65  0.79
 764  29    12  1949  10.116  0.47
 765  30    12  1949    8.94  0.52
 766  31    12  1949     NaN   NaN

 [372 rows x 5 columns],
 'p025.jpg':     Day Month  Year   G+S     k
 768   1    01  1949    88  1.23
 769   2    01  1949    94  1.05
 770   3    01  1949    82  1.05
 771   4    01  1949    94  1.07
 772   5    01  1949   105  0.71
 ..   ..   ...   ...   ...   ...
 794  27    12  1949  7.27   NaN
 795  28    12  1949  8.47   NaN
 796  29    12  1949  8.56   NaN
 797  30    12  1949  7.35   NaN
 798  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p026.jpg':     Day Month  Year  G+S     k
 800   1    01  1949   79  1.37
 801   2    01  1949   92   NaN
 802   3    01  1949   91  0.90
 803   4    01  1949   90  0.98
 804   5    01  1949   96  0.73
 ..   ..   ...   ...  ...   ...
 826  27    12  1949  NaN   NaN
 827  28    12  1949  111  1.03
 828  29    12  1949  116  0.87
 829  30    12  1949  111  0.81
 830  31    12  1949   67  1.04

 [372 rows x 5 columns],
 'p027.jpg':     Day Month  Year  G+S     k
 832   1    01  1949  128  0.84
 833   2    01  1949  144   NaN
 834   3    01  1949  112  0.73
 835   4    01  1949  111  0.79
 836   5    01  1949  103  0.68
 ..   ..   ...   ...  ...   ...
 858  27    12  1949  150  0.71
 859  28    12  1949  163  0.70
 860  29    12  1949  138  0.73
 861  30    12  1949  116  0.78
 862  31    12  1949  122  0.86

 [372 rows x 5 columns],
 'p028.jpg':     Day Month  Year    G+S     k
 864   1    01  1949    NaN   NaN
 865   2    01  1949  8.114  0.49
 866   3    01  1949   8.47  0.65
 867   4    01  1949   8.28  0.82
 868   5    01  1949    NaN   NaN
 ..   ..   ...   ...    ...   ...
 890  27    12  1949   8.46  0.85
 891  28    12  1949    NaN   NaN
 892  29    12  1949   8.42  0.83
 893  30    12  1949   7.43  0.80
 894  31    12  1949   5.53  1.07

 [372 rows x 5 columns],
 'p029.jpg':     Day Month  Year   G+S     k
 896   1    01  1949   NaN   NaN
 897   2    01  1949  8.43   NaN
 898   3    01  1949   NaN   NaN
 899   4    01  1949   NaN   NaN
 900   5    01  1949   NaN   NaN
 ..   ..   ...   ...   ...   ...
 922  27    12  1949   NaN   NaN
 923  28    12  1949  7.33  1.11
 924  29    12  1949   NaN   NaN
 925  30    12  1949  6.24  1.07
 926  31    12  1949  5.49  1.11

 [372 rows x 5 columns],
 'p030.jpg':     Day Month  Year   G+S     k
 928   1    01  1949  9.95  0.58
 929   2    01  1949   NaN   NaN
 930   3    01  1949    6.   NaN
 931   4    01  1949  8.52  0.67
 932   5    01  1949  8.70  0.47
 ..   ..   ...   ...   ...   ...
 954  27    12  1949   NaN   NaN
 955  28    12  1949   NaN   NaN
 956  29    12  1949   NaN   NaN
 957  30    12  1949   NaN   NaN
 958  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p031.jpg':     Day Month  Year   G+S     k
 960   1    01  1949   NaN   NaN
 961   2    01  1949  7.70  0.71
 962   3    01  1949   NaN   NaN
 963   4    01  1949  8.23  0.85
 964   5    01  1949   NaN   NaN
 ..   ..   ...   ...   ...   ...
 986  27    12  1949  0.88   NaN
 987  28    12  1949  0.76   NaN
 988  29    12  1949  0.65   NaN
 989  30    12  1949   NaN   NaN
 990  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p032.jpg':      Day Month  Year   G+S     k
 992    1    01  1949  6.28  1.23
 993    2    01  1949   NaN   NaN
 994    3    01  1949  8.47  0.65
 995    4    01  1949  9.37  0.69
 996    5    01  1949   NaN   NaN
 ...   ..   ...   ...   ...   ...
 1018  27    12  1949  7.40  0.97
 1019  28    12  1949  8.45  0.91
 1020  29    12  1949  8.49  0.78
 1021  30    12  1949  7.41  0.81
 1022  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p033.jpg':      Day Month  Year  G+S     k
 1024   1    01  1949  NaN   NaN
 1025   2    01  1949  NaN   NaN
 1026   3    01  1949  119  0.69
 1027   4    01  1949  106  0.83
 1028   5    01  1949  NaN   NaN
 ...   ..   ...   ...  ...   ...
 1050  27    12  1949  NaN   NaN
 1051  28    12  1949  165  0.69
 1052  29    12  1949  NaN   NaN
 1053  30    12  1949  NaN   NaN
 1054  31    12  1949  NaN   NaN

 [372 rows x 5 columns],
 'p034.jpg':      Day Month  Year   G+S     k
 1056   1    01  1949   NaN   NaN
 1057   2    01  1949   NaN   NaN
 1058   3    01  1949   NaN   NaN
 1059   4    01  1949  7.12  1.07
 1060   5    01  1949  6.10  1.00
 ...   ..   ...   ...   ...   ...
 1082  27    12  1949   NaN   NaN
 1083  28    12  1949  8.31  1.03
 1084  29    12  1949   NaN   NaN
 1085  30    12  1949   NaN   NaN
 1086  31    12  1949  5.22  1.53

 [372 rows x 5 columns],
 'p035.jpg':      Day Month  Year   G+S     k
 1088   1    01  1949  5.19  1.56
 1089   2    01  1949  7.36   NaN
 1090   3    01  1949  6.13  1.12
 1091   4    01  1949  7.18  1.00
 1092   5    01  1949   NaN   NaN
 ...   ..   ...   ...   ...   ...
 1114  27    12  1949  7.42  0.96
 1115  28    12  1949   NaN   NaN
 1116  29    12  1949   NaN   NaN
 1117  30    12  1949   NaN   NaN
 1118  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p036.jpg':       Day Month  Year   G+S     k
 1120    1    01  1949   NaN   NaN
 1121    2    01  1949   NaN   NaN
 1122    3    01  1949   NaN   NaN
 1123    4    01  1949  7.14  1.05
 1124    5    01  1949   NaN   NaN
 ...   ...   ...   ...   ...   ...
 1146   27    12  1949   NaN   NaN
 1147  ?28    12  1949   NaN   NaN
 1148   29    12  1949   NaN   NaN
 1149   30    12  1949  7.27  0.93
 1150   31    12  1949  5.59  1.01

 [372 rows x 5 columns],
 'p037.jpg':      Day Month  Year   G+S     k
 1152   1    01  1949   NaN   NaN
 1153   2    01  1949   NaN   NaN
 1154   3    01  1949   NaN   NaN
 1155   4    01  1949   NaN   NaN
 1156   5    01  1949  6.34  0.74
 ...   ..   ...   ...   ...   ...
 1178  27    12  1949   NaN   NaN
 1179  28    12  1949   NaN   NaN
 1180  29    12  1949   NaN   NaN
 1181  30    12  1949   NaN   NaN
 1182  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p038.jpg':      Day Month  Year    G+S     k
 1184   1    01  1949   7.59  0.84
 1185   2    01  1949  8.120  0.50
 1186   3    01  1949    NaN   NaN
 1187   4    01  1949  10.49  0.59
 1188   5    01  1949    NaN   NaN
 ...   ..   ...   ...    ...   ...
 1210  27    12  1949    NaN   NaN
 1211  28    12  1949  8.109  0.60
 1212  29    12  1949   9.81  0.59
 1213  30    12  1949    NaN   NaN
 1214  31    12  1949   5.58  0.97

 [372 rows x 5 columns],
 'p039.jpg':      Day Month  Year   G+S     k
 1216   1    01  1949  5.22  1.50
 1217   2    01  1949   NaN   NaN
 1218   3    01  1949   5.9  1.46
 1219   4    01  1949  8.14  0.94
 1220   5    01  1949   NaN   NaN
 ...   ..   ...   ...   ...   ...
 1242  27    12  1949   NaN   NaN
 1243  28    12  1949  8.24  1.10
 1244  29    12  1949   NaN   NaN
 1245  30    12  1949   NaN   NaN
 1246  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p040.jpg':      Day Month  Year   G+S     k
 1248   1    01  1949  8.34  0.95
 1249   2    01  1949  6.76  1.15
 1250   3    01  1949   NaN   NaN
 1251   4    01  1949   NaN   NaN
 1252   5    01  1949   NaN   NaN
 ...   ..   ...   ...   ...   ...
 1274  27    12  1949   NaN   NaN
 1275  28    12  1949  9.70  0.71
 1276  29    12  1949   NaN   NaN
 1277  30    12  1949   NaN   NaN
 1278  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p041.jpg':      Day Month  Year  G+S     k
 1280   1    01  1949  NaN   NaN
 1281   2    01  1949  NaN   NaN
 1282   3    01  1949  NaN   NaN
 1283   4    01  1949  NaN   NaN
 1284   5    01  1949  NaN   NaN
 ...   ..   ...   ...  ...   ...
 1306  27    12  1949   74  1.44
 1307  28    12  1949  104  1.10
 1308  29    12  1949  NaN   NaN
 1309  30    12  1949  NaN   NaN
 1310  31    12  1949   69  1.59

 [372 rows x 5 columns],
 'p042.jpg':      Day Month  Year   G+S     k
 1312   1    01  1949   NaN   NaN
 1313   2    01  1949   NaN   NaN
 1314   3    01  1949  8.20  0.82
 1315   4    01  1949   NaN   NaN
 1316   5    01  1949   NaN   NaN
 ...   ..   ...   ...   ...   ...
 1338  27    12  1949   NaN   NaN
 1339  28    12  1949  7.38  1.06
 1340  29    12  1949  7.45  0.88
 1341  30    12  1949   NaN   NaN
 1342  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p043.jpg':      Day Month  Year   G+S     k
 1344   1    01  1949   NaN   NaN
 1345   2    01  1949   NaN   NaN
 1346   3    01  1949   NaN   NaN
 1347   4    01  1949   NaN   NaN
 1348   5    01  1949   NaN   NaN
 ...   ..   ...   ...   ...   ...
 1370  27    12  1949   NaN   NaN
 1371  28    12  1949  8.39  0.96
 1372  29    12  1949  8.24  0.97
 1373  30    12  1949   NaN   NaN
 1374  31    12  1949  9.20  1.75

 [372 rows x 5 columns],
 'p044.jpg':      Day Month  Year   G+S     k
 1376   1    01  1949   NaN   NaN
 1377   2    01  1949   NaN   NaN
 1378   3    01  1949   NaN   NaN
 1379   4    01  1949  6.16  1.16
 1380   5    01  1949   NaN   NaN
 ...   ..   ...   ...   ...   ...
 1402  27    12  1949   NaN   NaN
 1403  28    12  1949   NaN   NaN
 1404  29    12  1949   NaN   NaN
 1405  30    12  1949   NaN   NaN
 1406  31    12  1949   NaN   NaN

 [372 rows x 5 columns],
 'p045.jpg':      Day Month  Year  G+S    k
 1408   1    01  1949  NaN  NaN
 1409   2    01  1949  NaN  NaN
 1410   3    01  1949  NaN  NaN
 1411   4    01  1949  NaN  NaN
 1412   5    01  1949  NaN  NaN
 ...   ..   ...   ...  ...  ...
 1434  27    12  1949  NaN  NaN
 1435  28    12  1949  NaN  NaN
 1436  29    12  1949  NaN  NaN
 1437  30    12  1949  NaN  NaN
 1438  31    12  1949  NaN  NaN

 [372 rows x 5 columns],
 'p046.jpg':      Day Month  Year  G+S    k
 1440   1    01  1949  NaN  NaN
 1441   2    01  1949  NaN  NaN
 1442   3    01  1949  NaN  NaN
 1443   4    01  1949  NaN  NaN
 1444   5    01  1949  NaN  NaN
 ...   ..   ...   ...  ...  ...
 1466  27    12  1949  NaN  NaN
 1467  28    12  1949  NaN  NaN
 1468  29    12  1949  NaN  NaN